.quarter-circle-top-left {
    background-color:#c06;
    border: 3px solid #000;
    border-bottom: none;
    height:45% ;
    width: 45%;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;

}
.quarter-circle-down-right {
    background-color:#c06;
    border: 3px solid #000;
    border-left: none;
    height:45% ;
    width: 45%;
    -moz-border-radius: 0 0 100% 0;
    border-radius: 0 0 100% 0;
}

.quarter-circle-top-right {
    background-color:#c06;
    border: 3px solid #000;
    border-bottom: none;
    border-left: none;
    height:45% ;
    width: 45%;
    -moz-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
}

.quarter-circle-down-left {
    background-color:#c06;
    border: 3px solid #000;
    height:45% ;
    width: 45%;
    -moz-border-radius: 0  0 0 100%;
    border-radius: 0 0 0 100%;

}

.top-oval{
    float: left;
}

.down-oval{
    float: left;
}

.clear{
    clear: both;

}

.oval{

    height: 780px ;
    width: 780px;
    position: relative;
    margin: auto;


}

.innerOval{
    height: 800px ;
    width: 800px;
    position: relative;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.innerOval > div > div {
    position: relative;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    left: -6%;
    top: 43%;
    margin : auto;
    font-size: large;
    color: white;

}

#beers{
    position: relative;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    left: -6%;
    top: 30%;
    margin : 5px;
    color: white;
}

.circle {
    width: 40%;
    height: 40%;
    background: red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 27%;
    z-index: 1;
    border: 3px solid #000;

}
.logo{
    max-width:100%;
    max-height:100%;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

/*html {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*clip: auto;*/
    /*position: absolute;*/
    /*overflow: hidden;*/
/*}*/

#cart{
    margin: 5%;
    background-color: cornsilk;
    height: 500px;
    width: 200px;
    position: relative;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.item
{

    width: 55px;
    height: 40px;
    float: left;
    margin: 10px;
    margin-top: 15px;
    font-size: x-small;


}

.quantity{
    background: none;
    width: 50px;
    height: 50px;
    float: left;
    margin: 30px;
    font-size: large;
    color: black;
    padding: 7px;
    border-radius: 50px;
    border: 2px solid #73AD21;
    text-align: center;
    top: 10px;
}


#ontop {
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: #cccccc;
    color: #aaaaaa;
    opacity: .4;
    /*filter: alpha(opacity = 50);*/
}
#popup {
    z-index: 11;
    width: 80%;
    height: 80%;
    position: absolute;
    color: #000000;
    display: none;
    background-color: #ffffff;
    /* To align popup window at the center of screen*/
    top: 10%;
    left: 10%;
    margin-top: auto;
    margin-left: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;

}

.inCart{
    color: black;
    font-size: large;
}

.inCart:hover{
    color: cadetblue;

}



.icon-trash {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-left: 25px;
    margin-bottom: 25px;
}

.icon-trash .trash-lid {
    width: 62%;
    height: 10%;
    position: absolute;
    left: 50%;
    margin-left: -31%;
    top: 10.5%;
    background-color: #000;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.icon-trash .trash-lid:after {
    content: "";
    width: 26%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -13%;
    margin-top: -10%;
    background-color: inherit;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.icon-trash .trash-container {
    width: 56%;
    height: 65%;
    position: absolute;
    left: 50%;
    margin-left: -28%;
    bottom: 10%;
    background-color: #000;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.icon-trash .trash-container:after {
    content: "";
    width: 110%;
    height: 12%;
    position: absolute;
    left: 50%;
    margin-left: -55%;
    top: 0;
    background-color: inherit;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.icon-trash .trash-line-1 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 38%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}

.icon-trash .trash-line-2 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}

.icon-trash .trash-line-3 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 62%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}

#trash{
    position: absolute;
    bottom: 0;
    margin-left: 30%;

}

/*#trash:hover{*/
    /*background-color: cadetblue;*/
    /*alpha: 0.5;*/
    /*border-radius: 10px;*/
/*}*/

