/*div {
    border: 1px solid black;
    padding: 2px;
    spacing: 2px;

}*/


.container {
    background: saddlebrown;
}

.circle {
    width: 500px;
    height: 500px;
    background: gray;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-image: url(pirate.png);
    background-position:50% 50%;
    background-repeat:no-repeat;
}

h1 {
    text-align:center;
    font-family:Monospace;

}

.container {
    border-width: 5px;
    border-color: yellow;
}


form {
    display: inline-block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.languageButtons{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

img {
    opacity: 0.7;
    filter: alpha(opacity=40);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.goBackButton {
    float:left

}


